/* Основные стили страницы */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Заголовок */
header {
    background: linear-gradient(to right, #4a90e2, #65aedd);
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Навигация */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Основное содержание */
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Картинки и видео */
img, video {
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 200px; /* Фиксированная ширина */
    height: auto; /* Авто высота */
    cursor: pointer;
    transition: transform 0.2s;
	object-fit: cover;
}

img:hover, video:hover {
    /* Плавный переход для тени */
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
	
}

/* Содержимое модального окна */
.modal-content {
    display: block;
    border-radius: 10px;
    margin: auto;
    max-width: 90%; /* Укажите максимальную ширину */
    max-height: 90%; /* Укажите максимальную высоту */
    position: relative; /* Чтобы выравнивать по центру */
    top: 45%; /* Сдвигаем вниз на 50% высоты окна */
    transform: translateY(-50%); /* Сдвигаем вверх наполовину высоты модального окна */
    width: auto; /* Устанавливаем ширину в зависимости от содержимого */
    height: auto; /* Устанавливаем высоту в зависимости от содержимого */
}

/* Убедитесь, что изображение или видео масштабируются внутри */
.modal-content img, 
.modal-content video {
    max-width: 100%; /* Ограничиваем ширину изображения/видео */
    max-height: 100%; /* Ограничиваем высоту изображения/видео */
    border-radius: 10px; /* Чтобы сохранить округлые углы */
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Подпись к изображению/видео */
#caption {
    margin: 10px;
    color: #fff;
    text-align: center;
}

/* Подвал */
footer {
	padding: 10px;
    text-align: center;
    background-color: #4a90e2;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
	box-sizing: border-box;
}