body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.center-image {
    width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-box {
	position: relative;
    width: 200px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
	transition: transform 0.3s;
}

.gallery-box:hover {
    transform: scale(1.05);
}

.gallery-image {
    width: 100%;
    height: auto;
	display: block;
}

.video-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw; /* Максимальная ширина 90% от ширины окна браузера */
    max-height: 90vh; /* Максимальная высота 90% от высоты окна браузера */
    width: auto; /* Автоматическая ширина */
    height: auto; /* Автоматическая высота */
    background-color: rgba(255, 255, 255, 1); /* Понимаем, чтобы фон был белым */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для выделения модального окна */
    overflow: hidden; /* Скрываем переполнение при необходимости */
    z-index: 1000; /* Убедитесь, что модальное окно на переднем плане */
}

.modal-content {
    max-width: 100%; /* Максимальная ширина содержимого не более 100% от модального окна */
    max-height: 100%; /* Максимальная высота содержимого не более 100% от модального окна */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
	
}

.video-modal {
    display: none; /* Скрыто по умолчанию. */
    position: fixed;
    z-index: 1000; /* Убедитесь, что оно над другими элементами. */
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон. */
}

.modal-video {
    max-width: 80%; /* Установка ширины для видео. */
    max-height: 80%; /* Установка высоты для видео. */
	background-color: #000; /* Темный фон для видео */
    border-radius: 10px; /* Плавные углы для видео */
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}